# Virtual Environment
.myenv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Logs & Outputs
logs/
outputs/
*.log

# Data
# We keep data/dataset but ignore large mbox or processed files if needed
data/dataset/*.mbox

# Jupyter Notebooks
.ipynb_checkpoints/
Notebook Experiments/.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/